<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link href="/css/homePage.css" rel="stylesheet"/>
</head>
<body>
<div class="bg">
    <a href="/logout" class="login-button">Se déconnecter</a>

    <div class="ctr">
        <!-- Form to Add a New Match -->
        <div class="form-container">
            <form action="/addMatch" method="post">
                <input type="text" name="nomEquipe1" placeholder="Nom Equipe 1" required>
                <input type="number" name="scoreEquipe1" placeholder="Score Equipe 1" required>
                <input type="text" name="nomEquipe2" placeholder="Nom Equipe 2" required>
                <input type="number" name="scoreEquipe2" placeholder="Score Equipe 2" required>
                <select name="fini" required>
                    <option class="options" value="0">En cours</option>
                    <option class="options" value="1">Terminé</option>
                </select>
                <button type="submit" class="crud-button">Ajouter Match</button>
            </form>
        </div>

        <!-- List of Matches with Update and Delete Options -->
        <div th:each="match, stat : ${allMatchs}">
            <div class="card">
                <div class="match-info">
                    <span th:text="${match.nomEquipe1}">Nom Equipe 1</span>
                    <span th:text="' ' + ${match.scoreEquipe1} + ' - ' + ${match.scoreEquipe2} + ' '">Scores</span>
                    <span th:text="${match.nomEquipe2}">Nom Equipe 2</span>
                </div>
                <div class="status" th:text="${match.fini == 1 ? 'Match fini' : 'Match en cours'}"></div>

                <!-- Form to Update a Match -->
                <div class="form-container">
                    <form action="/updateMatch" method="post">
                        <input type="hidden" name="id" th:value="${match.id}">
                        <input type="text" name="nomEquipe1" th:value="${match.nomEquipe1}" required>
                        <input type="number" name="scoreEquipe1" th:value="${match.scoreEquipe1}" required>
                        <input type="text" name="nomEquipe2" th:value="${match.nomEquipe2}" required>
                        <input type="number" name="scoreEquipe2" th:value="${match.scoreEquipe2}" required>
                        <select name="fini" required>
                            <option class="options" th:value="0" th:text="'En cours'" th:selected="${match.fini == 0}"></option>
                            <option class="options" th:value="1" th:text="'Terminé'" th:selected="${match.fini == 1}"></option>
                        </select>

                        <!-- Update Button -->
                        <div class="button-container">
                            <button type="submit" class="crud-button">Mettre à Jour</button>
                        </div>
                    </form>

                    <!-- Form to Delete a Match -->
                    <form action="/deleteMatch" method="post" style="display:inline;">
                        <input type="hidden" name="id" th:value="${match.id}">
                        <div class="button-container">
                            <button type="submit" class="crud-button delete-button">Supprimer</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="rounded" th:if="${!stat.last}"/>
        </div>
    </div>
</div>
</body>
</html>
