<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/homePage.css" rel="stylesheet"/>
</head>
<body>
<div class="bg">
    <div class="ctr">
        <div class="card">
            <h1>aa</h1>
        </div>
        <hr class="rounded">
        <div class="card">
            <h1>aa</h1>
        </div>
        <hr class="rounded">
        <div class="card">
            <h1>aa</h1>
        </div>
        <hr class="rounded">
        <div class="card">
            <h1>aa</h1>
        </div>
        <hr class="rounded">
        <div class="card">
            <h1>aa</h1>
        </div>
        <hr class="rounded">
        <div class="card">
            <h1>aa</h1>
        </div>
        <hr class="rounded">
        <div class="card">
            <h1>aa</h1>
        </div>


    </div>
</div>

</body>
</html>