<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/homePage.css" rel="stylesheet"/>
    <style>
        /* Style pour aligner le bouton en haut à droite */
        .login-button {
            position: absolute;
            top: 10px;
            right: 10px;
            padding: 10px 15px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none; /* pour les liens */
        }
    </style>
</head>
<body>
<div class="bg">
    <!-- Bouton "Se connecter" en haut à droite -->
    <a href="/adminForm" class="login-button">Se connecter</a>

    <div class="ctr">

        <div th:each="match, stat : ${allMatchs}">
            <div class="card">
                <div class="match-info">
                    <span th:text="${match.nomEquipe1}">Nom Equipe 1</span>
                    <span th:text="' ' + ${match.scoreEquipe1} + ' - ' + ${match.scoreEquipe2} + ' '">Scores</span>
                    <span th:text="${match.nomEquipe2}">Nom Equipe 2</span>
                </div>

                <div class="status" th:text="${match.fini == 1 ? 'Match fini' : 'Match en cours'}"></div>

            </div>
            <hr class="rounded" th:if="${!stat.last}"/>
        </div>

    </div>
</div>

</body>
</html>
